<div class="myheader">
    <table>
        <tr>
            <td style="width: 10%;"> <img src="assets/apb-logo-vertical.svg" width="120px"/> </td>
            <td style="width: 400%;"> 
                <div class="nsebg" >
                    <h1 style="color:white;justify-content: center;">Airtel Payement Banks</h1> 
                  
                   
            </div> 
            </td>

            <td>

                <button class="bg bg-primary" >Login </button>  
                <button class="bg bg-primary">Register</button>
               
            </td>

        </tr>


           
    </table>
</div>