.myheader{
    width: 100%;
    height: 20%;
}


.nsebg{
    background-color: Red;
    width:auto;
   ;
}
h1{
    color: coral;
    font-size: 60px;
    margin-left: 60%;
    margin-left: 40%
}
h3{
    color:black;
    font-size: 50px;
    margin-left: 10%;
}

.dropDown{
    background-color: coral;
    color: darkred;
    margin-left: 80%;
}